/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Hero Section Styles */
.heroSection {
    background-image: url(./images/heroSectionBackground.png);
    height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
}

/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navmenu {
    display: flex;
    padding: 20px;
    gap: 27px;
    margin-right: 10%;
}

.navbar .app {
    font-size: 13px;
    padding: 10px;
    margin-left: 15%;
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: flex;
}

.navmenu a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navmenu i {
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 50%;
    display: none;
}

.navbar i {
    display: none;
    padding: 3px;
    margin-left: 11px;
    margin-top: 5px;
    font-size: 21px;
}

/* Logo and Tagline Styles */
.logoname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
    text-align: center;
}

.logoname .logo {
    width: 300px;
}

.logoname .tagline {
    font-weight: 400;
    font-size: 35px;
}

.logoname .searchbar {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.searchLocation,
.searchHotel {
    border: none;
    padding: 5px;
    outline: none;
}

.searchLocation {
    width: 35%;
    border-right: 1px solid;
    border-color: #c8c5c5;
}

.searchHotel {
    width: 60%;
    margin-left: 10px;
}

/* Services Offered Section */

.container {
    margin: 3rem auto;
    width: 90%;
}

.we_offer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

.we__offer_card {
    width: 115%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
    transition: 0.25s;
    position: relative;
}

.we__offer_card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
}

.we_offer a {
    text-decoration: none;
}

.we__offer_card:hover {
    transform: scale(1.05);
}

.we_offer_content {
    padding-left: 15px;
}

.we_offer_content h2 {
    text-align: left;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: rgb(44, 45, 45);
}

.we_offer_content p {
    color: rgb(11, 11, 11);
    font-weight: 300;
}

/* Collections Section */
.collections {
    margin: 3rem auto;
    width: 84%;
    margin-bottom: 10rem;
}

.collection_explore .collection_heading {
    max-width: 110rem;
}

.collection_explore .collection_heading{
    margin-left: 90px;
    margin-right: 90px;
}
.collection_explore h1 {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1.2;
    color: rgb(28, 28, 28);
    margin: 0px;
    margin-left: 90px;
}

.collection_explore .collection_heading {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-right: 20px;
}

.collection_heading span:nth-child(2) {
    color: #F05665;
    font-size: 13px;
    cursor: pointer;
}

.collection_card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1.25rem;
    cursor: pointer;
}

.collection_card_container .card {
    height: 20rem;
    min-width: 270px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1 {
    background-image: url('./images/1.avif');
}

.card2 {
    background-image: url('./images/2.avif');
}

.card3 {
    background-image: url('./images/collection3.jpg');
}

.card4 {
    background-image: url('./images/collection4.jpg');
}

/* Overlay Styles */
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9) 0%, 
        rgba(0, 0, 0, 0.05) 50%, 
        rgba(0, 0, 0, 0.05) 85%
    );
    z-index: 1;
}

.collection_card_container .card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
    z-index: 2;
}

.content h4 {
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* Responsive Design */
@media only screen and (max-width: 900px) {
    .navbar .app {
        font-size: 14px;
        padding: 10px;
        margin-left: 1%;
    }
    .navbar .navmenu {
        margin-right: 0px;
        gap: 22px;
    }
}

@media only screen and (max-width: 600px) {
    .navmenu a {
        display: none;
        font-size: 14px;
    }
    .navbar i {
        display: flex;
    }
    .heroSection {
        height: 70vh;
    }
    .navbar .app {
        display: none;
    }
    .navmenu i {
        position: absolute;
        right: 15px;
    }
    .navmenu i {
        display: flex;
    }
    .logoname .logo {
        width: 200px;
    }
    .logoname .tagline {
        font-weight: 400;
        font-size: 30px;
    }
    .logoname .searchbar {
        width: 80%;
    }
}

/* Get Mobile App Section */
.get_the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
}

.get_the_app .semiContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get_the_app .semiContainer .left{
    flex: 2;
}

.get_the_app .semiContainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get_the_app .semiContainer .right{
    flex: 3;  
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right h1{
    font-weight: 400;
    font-size: 2rem;
}

.right p{
    font-size: 0.8rem;
}

.right .radio__button_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right .radio__button_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.right .radio__button_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239, 79,95);
}

.right .input_container{
    display: flex;
    gap: 0.5rem;
}

.input_container{
    flex-wrap: wrap;
}

.input_container button,
.input_container input{
    padding: 10px 12px;
}

.input_container input{
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
}

.input_container button{
    border: none;
    background-color: rgb(239, 79, 95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right .download__app_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.right .download__app_container h5{
    color: grey;
    font-weight: 400;
}

.right .download__app_container div{
    display: flex;
    gap: 1rem;
}

.right .download__app_container div img{
    width: 35%;
    cursor: pointer;
}

/* Media Query Responsive Design */

@media only screen and (max-width: 1300px) {
    .get_the_app .semiContainer .left,
    .get_the_app .semiContainer .right{
        flex: 1;
    }
    .get_the_app .semiContainer{
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .get_the_app{
        padding: 2rem 0;
    }
    .get_the_app .semiContainer{
        width: 95%;
        flex-direction: column;
    }
}

/* explore section */
.explore_secton{
    max-width: 110rem;
    max-height: initial;
    margin: 0 85px;
    padding-top: 0rem;
    padding-bottom: 5rem;
}

.explore_secton .explore_heading h1{
    /* margin: 0px 0px 1.5rem; */
    color: rgb(54, 54, 54);
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 400;
}

.explore_secton .explore_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* padding: 0px; */
}

.explore_content .explore_content1{
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 2rem 2.4rem;
}

.explore_content1 h5{
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    align-items: flex-start;
    cursor: pointer;
}

.explore_content1 i{
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .explore_secton .explore_heading h1{
        font-size: 1.4rem;
    }
    .explore_content1 h5{
        font-size: 15px;
    }
    .explore_content .explore_content1{
        padding: 1.5rem 0.2rem;
    }
}

/* Footer Section */
.footer{
    width: 100%;
}

.footer_section1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer_section1 img{
    width: 130px;
}

.section1_buttonContainer{
    display: flex;
    gap: 1rem;
}

.section1_buttonContainer button{
    padding: 5px;
    width: 90px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.navigaton_container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    /* alternate way */
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
}

.link_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link_container h5{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}

.footer_link{
    text-decoration: none;
    color: grey;
    font-size: 13px;
    font-weight: 300;
}

.footer_link:hover{
    color: black;
}

.section__links_container button{
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
}

.section__links_container button i{
    color: white;
    font-size: 13px;
    display: flex;
    /* x-axis */
    align-items: center;
    /* y-axis */
    justify-content: center;
}

.footer__section_logo{
    width: 100%;
    cursor: pointer;
}

.disclamer{
    width: 95%;
    color: gray;
    margin: auto;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
}

/* media query */

@media only screen and (max-width: 900px){
    .navigaton_container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 500px){
    .navigaton_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 320px){
    .navigaton_container{
        grid-template-columns: repeat(1, 1fr);
    }
}


